# Don't include the api-key file!
api-key.txt

# No temporary files:
*.swp

# No Project Files:
quotes-project*.sh

# No outputs that I created:
*-quotes.txt

# No response.txt just in case that's not deleted.
response.txt

# No .DS_Store files.
.DS_Store
